<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Details</th>
            <th scope="col">Show</th>
        </tr>
    </thead>
    <tbody>
        <% @tasks.each do |task| %>
            <tr scope="row">
                <td><%= task.id %></td>
                <td><%= task.name %></td>
                <td><%= task.details %></td>
                <td><%= link_to 'Details', category_task_path(@category, task.id), class: "btn btn-primary", role: "button" %></td>
            </tr>
        <% end %>
    </tbody>
</table>